* {
  font-family: "Roboto", sans-serif;
  color: #15171a;
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 1.5;
  box-sizing: border-box;
}
/* hide scroll bar */
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 80px auto 48px auto;
  background-color: #f8f8f8;
  width: 1120px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1,
nav {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 16px 0;
}

a {
  font-size: 24px;
  margin: 0 0 0 32px;
  transition: color 0.3s;
}

/* hover */

.selected-index:hover,
.selected-index {
  color: #ef3d3d;
}
.selected-about:hover,
.selected-about {
  color: #3038ff;
}
.selected-contact:hover,
.selected-contact {
  color: #ede349;
}

/* Projects */
section {
  margin: 80px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 32px;
  grid-auto-flow: dense;
  background-color: #ede349;

  padding: 5%;
}

section h1 {
  grid-column: 2 / span 10;
  text-align: justify;
}

section.project div.artwork {
  grid-column: 1 / span 8;
  text-align: center;
}

section.project div.desciption {
  grid-column: 9 / span 4;
}

/* Images */
section img {
  max-height: 640px;
  max-width: 100%;
}

.artwork-1 {
  background-image: url(/img/lost-and-found.png);
  object-fit: cover;
  background-size: auto;
  background-position: 50% 50%;
}

.artwork-2 {
  background-image: url(/img/far-away.png);
  object-fit: cover;
  background-size: auto;
  background-position: 50% 50%;
}

.artwork-3 {
  background-image: url(/img/fierce.png);
  object-fit: cover;
  background-size: auto;
  background-position: 50% 50%;
}

.artwork-4 {
  background-image: url(/img/you-know-me.png);
  object-fit: cover;
  background-size: auto;
  background-position: 50% 50%;
}

/* section alt */

section.project-alt div.artwork {
  grid-column: 5 / span 8;
  text-align: center;
}

section.project-alt div.desciption {
  grid-column: 1 / span 4;
}

/* about */
.img-profile {
  max-height: 800px;
}

section.about div.profile {
  grid-column: 1 / span 6;
}

section.about div.profile-desc {
  grid-column: 7 / span 6;
}

section.about h1 {
  line-height: 1;
  margin-top: 0;
}

section.about p {
  margin: 16px 0;
}

/* contact */
section.contact div.form {
  grid-column: 4 / span 6;
}

/* Footer */
footer a {
  margin: 0 32px 0 32px;
}

.links-footer,
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  padding-top: 40px;
}
